body{
    background-color: cadetblue;
}
.container-login {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    display: inline-flex;
    margin: 48px 24px;
    width: 300px;
    height: 100px;
    background-color: aqua;
}